.App {
  align-items: center;
}
/*General*/
button{
  padding:0rem 0.5rem;
  background-color: white;
  border-radius: 6px;
  border-width: 1px;
}
/********/

/*navbar*/
.navbar{
  background-color: rgb(74, 74, 226);
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding:0.5rem;
  margin: 0 auto;
}
.navbar img{
  padding-right: 1rem;
}
.navbar-button button{
  margin-left: 0.5rem;
}
/************/

/*Content*/
.content{
  display: flex;
}
/************/

/*Filters*/
.filters{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-width: 40vh;
}

.filters-name{
  display: flex;
  justify-content: space-between;
}
.filters-values{
  display: flex;
  flex-wrap: wrap;
}
.filters-values p{
  padding: 0 0 0rem 0.5rem;
}
.filters-size{ 
  padding:0rem 1rem 1rem;
  background-color: rgb(54, 136, 136);
  margin-top: 1rem;
  border-radius: 5px;
}

.filters-brand{ 
  padding: 0rem 1rem 1rem;
  background-color: aqua;
  margin-top: 1rem;
  border-radius: 5px;
}

.filters-ideal-for{ 
  padding:0rem 1rem 1rem;
  background-color: rgb(21, 100, 100);
  margin-top: 1rem;
  border-radius: 5px;
}
.filter-info{
  display: flex;
  flex-direction: row;
}
.filter-info p{
  padding:0rem 1rem;
}
/************/

/*Items*/
.items{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}

/************/

/*Item*/
.item{
  background-color:rgb(11, 11, 114);
  margin:0.5rem;
  width:50vh;
  box-shadow:3px 3px 5px rgba(0,0,0,0.9);
  border-radius: 5px;
  overflow:hidden;
  position: relative;
  color: white;
}
/* Item Image */
.item img{
  object-fit: cover;
  height: 70vh;
  width:100%;
}
 
/* Item Info */
.item-info{
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-info p{
  padding: 0 0 0.5rem 0.5rem;
}
/************/